<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://raw.githubusercontent.com/wessamza/unHooker/master/Jodel.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>https://sa-help.net/Pro15/MKRR/Jodel.png</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>https://sa-help.net/Pro15/MKRR/Jodel.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.sa-help.Jodel</string>
<key>bundle-version</key>
<string>2.5.0</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>Jodel</string>
<key>title</key>
<string>التطبيقات تعمل بدون جلبريك</string>
</dict>
</dict>
</array>
</dict>
</plist>
